@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;

  }

  &__nav {}

  &__nav-list {
    display: flex;
    column-gap: 20px;
  }


  &__nav-item {}

  &__nav-link {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.3px;

    color: #000000;
  }

  &__logo {}

  &__info {
    display: flex;
    column-gap: 20px;
  }

  &__info-text {
    color: #445EFF;

    span {
      color: #DE1935;
    }
  }

  &__info-account {}

  &__content {}
}

.main {
  &__btn {
    max-width: 300px;
    width: 100%;
    border: none;
    border-radius: 999px;

  }
}

.start {
  background-image: url(../images/header-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;

  &__inner {
    height: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 68px;
  }

  &__inner-title {
    font-size: 66px;
    line-height: 69px;
    margin-bottom: 23px;
    font-weight: 400;

    color: #FFFFFF;
  }

  &__inner-subtitle {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 45px;
    color: #FFFFFF;


  }

  &__btn {}
}

.about {
  &__inner {
    margin: 0 auto;
    text-align: center;
    max-width: 662px;
    margin-bottom: 85px;
  }

  &__inner-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 14px;

    letter-spacing: 0.96px;
    text-transform: uppercase;
  }

  &__inner-text {
    font-size: 18px;
    line-height: 23px;
  }
}

.products {
  background-color: rgba(229, 233, 255, 1);
  margin-bottom: 50px;

  &__inner {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  &__inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__inner-title {
    font-size: 15px;
    line-height: 14px;
  }

  &__inner-link {}

  &__inner-slider {}

  .slick-list {
    margin-left: 20px;
  }

  &__slider-item {
    max-width: 304px;
    text-align: center;

    padding: 0 2px 20px;
  }

  &__slider-img {}

  &__slider-title {
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 5px;
  }

  &__slider-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 46px;
  }

  &__slider-btn {
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 58px;
    background-color: #FFA5FF;

  }
}

.award {
  &__inner {

    display: flex;
  }

  &__inner-col1 {}

  &__col1-img {}

  &__inner-col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  &__col2-title {
    font-size: 43px;
    line-height: 47px;
    margin-bottom: 23px;

  }

  &__col2-text {
    margin-bottom: 43px;
    text-align: center;
    font-size: 17px;
    line-height: 23px;
    max-width: 370px;
  }

  &__col2-btn {
    text-align: center;
    background-color: #90AAFF;
    color: #000;
  }
}

.award__inner2 {
  flex-direction: row-reverse;
}

.rectangle {
  background-color: #90AAFF;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #F4F5FE;

  &__inner {
    padding: 90px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      color: #000;
    }
  }

  &__inner-col1 {}

  &__list {}

  &__list-item {
    margin-bottom: 10px;
  }

  &__list-link {}
}